@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700&family=Lato:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* GLOBAL DESIGN */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* LAYOUT */
.display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  padding: 50px 100px;
}
.top_title {
  text-align: center;
}
.top_title h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.top_title p {
  font-size: 14px;
}

/* BOTTOM HOVER */
.bottom_hover {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.bottom_hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  background: #b385a7;
  transition: all linear 0.4s;
}
.bottom_hover:hover::after {
  width: 100%;
  transform-origin: right;
}

/* HEADER SECTION */
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffd8be;
  padding: 0px 100px;
  z-index: 999;
}
.header_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo_i {
  text-transform: lowercase;
}
.header_logo a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(100, 110, 255);
}
. .navigation_content {
  width: 100%;
}
.toggle {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.nav_item {
  display: flex;
  align-items: center;
}
.nav_item li {
  list-style: none;
  padding: 10px 15px;
  position: relative;
}
.nav_item li a {
  text-decoration: none;
  color: rgb(100, 110, 255);
}
.nav_item li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 2px;
  width: 0%;
  height: 2px;
  background: rgb(100, 110, 255);
  transition: 0.4s;
}
.nav_item li:hover a::after {
  width: 100%;
  left: 0%;
}

.user_identy {
  display: flex;
}
.user_identy li {
  list-style: none;
  margin: 0px 10px;
}
.sign_up,
.sign_in {
  padding: 5px 15px;
  color: rgb(100, 110, 255);
  border: 2px solid #b385a7;
  border-radius: 5px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.sign_in::after,
.sign_up::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.sign_in:hover:after {
  width: 100%;
  background: #ffbebe;
}
.sign_up:hover:after {
  width: 100%;
  background: #ffbebe;
}

/* ANNOUNCEMENTS SECTION START */
.announcements_section {
  padding-top: 100px;
}
.left-area {
  width: 30%;
  position: relative;
}

.article_text {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.left_area h2 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.right-area {
  width: 70%;
  position: relative;
}
.right-area h2 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}

.item {
  width: 30%;
  margin: 10px;
  border-left: 2px solid #9371e4;
  padding: 10px;
}
.item h3 {
  font-size: 18px;
  font-weight: 500;
  color: #85b385;
  font-family: "Be Vietnam Pro", sans-serif;
}
.item p {
  font-style: 14px;
  line-height: 12px;
  margin-top: 20px;
}

/* exprence_top_section */
.exprence_top_section {
  padding-top: 100px;
  position: relative;
}
.text_box {
  width: 350px;
  height: 200px;
  padding: 25px;
  box-shadow: 0px 1px 7px 0px #ddd;
  margin-bottom: 25px;
  position: relative;
}
.text_box::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  clip-path: circle(50% at 5% 96%);
  background: #b385a7;
  width: 0px;
  height: 0px;
  z-index: -1;
  transition: all linear 0.4s;
}
.text_box:hover::after {
  width: 150px;
  height: 150px;
}
.text_box h3 {
  text-transform: capitalize;
  font-style: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.text_box p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.links {
  display: flex;
}
.links a {
  text-decoration: none;
  background: #9371e4;
  margin-left: 15px;
}

/*exprence_section*/
.exprence_section {
  padding-top: 50px;
}
.article_box {
  width: 350px;
  padding: 25px;
  box-shadow: 0px 1px 7px 0px #ddd;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}
.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_image {
  width: 250px;
  height: 150px;
  position: relative;
}

.title_image::after {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  width: 0px;
  height: 150px;
  background: #ffd8be;
  z-index: -1;
  transition: all linear 0.4s;
}
.article_box:hover .title_image::after {
  width: 150px;
}
.title_image img {
  width: 100%;
  object-fit: cover;
}

/* CONTUCT START*/
.contuct_section {
  background: #f2f1f6;
}
.contunt_container {
  display: flex;
  margin-top: 30px;
}
.address_area {
  width: 40%;
  padding: 20px;
  background: #3e1f92;
  border-radius: 10px 0px 0px 10px;
  position: relative;
}
.address_area::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 250px;
  height: 250px;
  clip-path: circle(43.5% at 94% 93%);
  background: #f493a0;
}
.address_area::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 250px;
  height: 250px;
  clip-path: circle(19% at 61% 63%);
  background: #7e53fa;
  opacity: 0.8;
}
.address_title h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.address_title p {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}
.address_info {
  margin: 60px 0px;
}
.info_item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.info_item i {
  color: #f493a0;
  font-size: 13px;
  margin-right: 10px;
}
.info_item p {
  font-size: 13px;
  color: #fff;
}
.input_form {
  width: 60%;
  padding: 20px;
}
.socal_links {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.socal_links a {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all linear 0.4s;
  color: #fff;
}
.socal_links a:hover {
  background: #f493a0;
}

.input_form {
  background: #ffff;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 10px;
}
.input_filds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input_fild {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px;
}
.input_fild label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.input_fild input {
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}
.want_area {
  padding: 0px 15px;
  margin-top: 25px;
}
.want_area h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
.check_boxs {
  display: flex;
  justify-content: start;
  align-items: center;
}
.check_boxs input {
  margin-left: 10px;
  border-radius: 50%;
}
.check_boxs input:first-child {
  margin-left: 0px;
}
.text_message {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  box-sizing: border-box;
}
.text_message label {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px;
}
.text_message textarea {
  width: 100%;
  height: 50px;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
}
.submit {
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
.btn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #ffff;
  background: #3e1f92;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

/* FOOTER START */
.footer_container {
  background: rgb(19, 18, 18);
}
.footer_location {
  width: 30%;
  padding-right: 20px;
}
.footer_location h3 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer_location p {
  font-size: 14px;
  margin-bottom: 15px;
}

.footer_hover {
  color: #ffff;
  transition: all linear 0.4s;
  text-transform: capitalize;
}
.footer_hover:hover {
  color: #f493a0;
}
.f_links_area {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.link_area {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.link_area h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.link_area a {
  text-decoration: none;
}
.copy_right {
  text-align: center;
}
/* MEDIA START */
@media only screen and (max-width: 960px) {
  .header_container {
    padding: 0px 50px;
  }
  .header_logo {
    left: 100px;
  }
  .header_logo a {
    font-size: 20px;
  }
  .toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    color: rgb(100, 110, 255);
    font-size: 20px;
    font-weight: 600;
  }
  .menu {
    width: 200px;
    height: 300px;
    position: absolute;
    right: 50px;
    top: 70px;
    z-index: 999;
    background: #9371e4;
    flex-direction: column;
    justify-content: start;
    border-radius: 0px 0px 5px 5px;
    opacity: 0;
    transition: all 0.4s;
  }
  .show_menu {
    opacity: 1;
  }
  .nav_item,
  .user_identy {
    flex-direction: column;
    width: 100%;
  }
  .user_identy li {
    text-align: center;
    padding: 15px 0px;
  }
}
